/* Link Styles */

a {
	color:#d25628;
	text-decoration:none;
}

a:hover {
	color:#d27C28;
	text-decoration:nome;
}

/* Content */
.contenttable {
	background-color:#F5F5F5;
}

.content {
	font-family:verdana, sans-serif;
	font-size:.6em;
	color:#666666;
}

.content1 {
	font-family:verdana, sans-serif;
	font-size:.9em;
	color:#666666;
}

.contentline {
	background-color:#333333;
}

/* Headers */
.header1 {
	font-family:verdana, sans-serif;
	font-size:1.3em;
	color:#f1aa12;
}

.header1 a {
	color:#f1aa12;
	text-decoration:none;
}

.header1 a:hover {
	color:#f1aa12;
	text-decoration:none;
}

.header2 {
	font-family:verdana, sans-serif;
	font-size:1.5em;
	color:#666666;

}

.header3 {
	font-family:helvitica, sans-serif;
	font-size:2.0em;
	color:#7A7778;
}

.header4 {
	font-family:verdana, sans-serif;
	font-size:1.35em;
	color:#666666;
	font-weight:700;
}

.header5 {
	font-family:verdana, sans-serif;
	font-size:.8em;
    color:#f1aa12;
	padding: 0;
	margin:0;
}


/* Quick Links */
.quicklinks {
	font-family:verdana, sans-serif;
	font-size:.7em;
	color:#666666;
	line-height:150%;
}

.quicklinks a {
	color:#666666;
	text-decoration:none;
}

.quicklinks a:hover {
	color:#333333;
	text-decoration:none;
}

/* Side Nav */
.sidenav {
	font-family:verdana, sans-serif;
	font-size:.55em;
	color:#666666;
}

.sidenav a {
	color:#666666;
	text-decoration:underline;
}

.sidenav a:hover {
	color:#333333;
	text-decoration:underline;
}

.nav_line {
	background-color:#e0dede;
}


/* Forms */
.error {
	color:#990000;
	font-weight:700;
}

/* Search */
.search {
	font-family:verdana, sans-serif;
	font-size:.6em;
	color:#666666;
}

.radio {
	margin-left:-4px;
}

.search_line {
	background-color:#df9174;
}

/* News */
.news {
	font-family:verdana, sans-serif;
	font-size:.55em;
	color:#666666;
}

.news a {
	color:#d25628;
	text-decoration:none;
}

.news a:hover {
	color:#d27C28;
	text-decoration:none;
}

/* Call Outs */
.callouts {
	font-family:verdana, sans-serif;
	font-size:.55em;
	color:#666666;
}

.callouts a {
	color:#d25628;
	text-decoration:none;
}

.callouts a:hover {
	color:#d27C28;
	text-decoration:none;
}

/*Did you know*/
.tipline {
	background-color:#333333;
}

.tip {
	font-family:verdana, sans-serif;
	font-size:.6em;
	color:#666666;
}

/* Lists */
ul.level1 {
	color:#f1aa12;
}

ul.level2 {
	color:#787878;
	list-style-type:disc;
}

ul.level3 {
	color:#BABABA;
	list-style-type:disc;
}

.text {
	color:#666666;
}

.disclaimer {
	color:#B5B5B4;
}

/* Footer */
.footerline {
	background-color:#F9DD00;
}

.footertable {
	background-color:#d0d0d0;
}

.footer {
	font-family:verdana, sans-serif;
	font-size:.5em;
	color:#666666;
	font-weight:700;
}

.footerlinks {
	color:#ffffff;
}

.footer a {
	color:#666666;
	text-decoration:none;
}

.footer a:hover {
	color:#ffffff;
	text-decoration:none;
}

